include ../common/mixins

mixin header(color1, color2, className)
  .header__menu-block
    ul.header__main-menu
      li.header__main-menu__item 
        a.header__main-menu-href(href="./my-works.html") Мои работы
      li.header__main-menu
        a.header__main-menu-href(href="./about.html") Обо мне
      li.header__main-menu
        a.header__main-menu-href(href="./blog.html") Блог
      li.header__main-menu
        a.header__main-menu-href(href="./index.html") Авторизация
    a.header__back(href="#")
  section.section.hero
    .hero__top
      .hero__socials
        ul.socials__header
          each item in ['vk', 'github', 'in']
            li.socials__item
              a(href="" class = 'href__socials')
                +icon(`${item}`, "white_mod")
      .hero__hamburger
        a.hamburger-href(href="#")
          +icon('hamburger', 'ham_mod')
    .hero__description-menu
      .hero__img
        img.avatar(src = "assets/images/im/avatar.jpg")
      .hero__descr
        .hero__name-menu Александр Швалев
        .hero__text-menu Личный сайт веб разработчика
    a.arrow__down-href(href="#")
      +icon('arrow_down', 'white')
    div(class = `${className} header__footer`)
      svg.header__footer-svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="2032px" height="360.368px" viewBox="0 0 2032 120.368" enable-background="new 0 0 2032 360.368" xml:space="preserve")
        g
          polygon(fill-rule="evenodd" clip-rule="evenodd" fill=`${color1}` points="2032,360.368 2032,0 1015,173 1016,360.368 	" class = "" + className + "-svg")
          polygon(fill-rule="evenodd" clip-rule="evenodd" fill=`${color2}` points="0,0 0,360.368 1017.002,360.368 1016,173	" class = "" + className + "-svg")
        g

mixin blog-header(color1) 
  .header__menu-block
    ul.header__main-menu
      li.header__main-menu__item 
        a.header__main-menu-href(href="./my-works.html") Мои работы
      li.header__main-menu
        a.header__main-menu-href(href="./about.html") Обо мне
      li.header__main-menu
        a.header__main-menu-href(href="./blog.html") Блог
      li.header__main-menu
        a.header__main-menu-href(href="./index.html") Авторизация
    a.header__back(href="#").blog__back
  section.section.hero.blog__header
    .hero__top
      .hero__socials
        ul.socials__header
          each item in ['vk', 'github', 'in']
            li.socials__item
              a(href="" class = 'href__socials')
                +icon(`${item}`, "white_mod")
      .hero__hamburger
        a.hamburger-href(href="#")
          +icon('hamburger', 'ham_mod')
    .hero__description-menu
      .hero__img
        img.avatar(src = "assets/images/im/avatar.jpg")
      .hero__descr
        .hero__name-menu Блог
        .hero__text-menu Статьи, которые я написал
    a.arrow__down-href.blog-arrow(href="#")
      +icon('arrow_down', 'white')
    .header__footer-blog
        svg.header__footer-svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="2032px" height="360.368px" viewBox="0 0 2032 120.368" enable-background="new 0 0 2032 360.368" xml:space="preserve")
          g
            polygon(fill-rule="evenodd" clip-rule="evenodd" fill=`${color1}` points="2032,360.368 2032,0 1015,173 1016,360.368 	")
            polygon(fill-rule="evenodd" clip-rule="evenodd" fill=`${color1}` points="0,0 0,360.368 1017.002,360.368 1016,173	")
          g